
.circle{
-webkit-border-radius: 90px;
-moz-border-radius: 90px;
border-radius: 90px;
}

.blackblur{
	background: rgba(0, 0, 0, 0.9);
}


.fontbody{
//	background-image : url(../img/background2.jpg); 
//	background-size: cover;
//	background-position: center;
	//background-repeat: no-repeat;
//	background-color: #b2beb5;
	height: 100%;
	
}

.centerdiv{
text-align:center;
}

body, html{
	height: 100%;
}

body, label, href, h4{
font-family: 'Slabo 13px', serif !important;
font-weight: 400;
color : white;
}

.fontslabo{
font-family: 'Slabo 13px', serif !important;
font-weight: 400;
color : white;
font-size: 24px;
font-weight: bold;
}
.fontgrey{
color : #95A5A6;
}

.fontblack{
color : black;
}

.bg-color{
	background-color: white;
}

.fontgreysmall{
color : #95A5A6;
font-size : 13px;
}

.borderstyle{
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px dashed #95A5A6;
}

.line{ 
height:5px;width:55px;background-color: #2ecc71; border:1px solid #2ecc71;
}

.homeicon{
	background-image : url(../img/home3.jpg); 
	background-size: 60px 60px;
	background-position: center;
	background-repeat: no-repeat;
	
}